<!DOCTYPE html>
<html>
<head>
  <title>Senior DevOps Engineer</title>
  <link rel="stylesheet" type="text/css" href="../static/style_home1.css">
</head>
<body>
  <header>
    <h1>Vijay Yadav</h1>
    <p>Senior DevOps Engineer</p>
  </header>
  
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#certifications">Certifications</a></li>
    </ul>
  </nav>
  
  <section id="about">
    <h2>About Me</h2>
    <ul>
        <li>Terraform and Azure Certified Professional with 9+ years of experience in the Information Technology industry with Insurance and banking domain</li>
        <li>Extensive experience in DevOps Engineering and proficient in using DevOps tools such as Jenkins, Maven, NPM, Node/ React, Database SVN, GitHub Actions PCF, Concourse, Ansible Docker, AWS, Azure Veracode/ AppScan, Sonar, Fortify, Black Duck, and Snyk Dashboard</li>
        <li>Expertise in Azure VMs, Azure Data Factory, Azure Data Bricks, Synapses, Azure SQL, and Azure Data Lake.</li>
        <li>Expertise in implementing DevOps solutions that includes setting up Continues Integration (CI), Continuous Delivery (CD), and Continuous Deployment pipelines</li>
        <li>Hands-on experience in creating CI/CD pipelines for different technology stacks including Java Node, React, Python, .Net, Docker, Mimix, and NiFi</li>
        <li>Hands-on experience in Amazon Web Services (AWS) such as EC2, S3, ELB, RDS, and VPC</li>
        <li>Proficient in managing Amazon Web Services such as EC2, S3 Bucket, RDS, EBS, ELB, Auto-Scaling, AMI, IAM through AWS Console and API Integration with Terraform</li>
        <li>Hands-on experience in Azure Cloud including MS Windows and Linux VMs, automatic creation of VMs using ARM, managed DevOps solutions through Azure Pipelines</li>
        <li>Expertise on Concourse pipeline that help to deploy the Microservices to Pivotal Cloud Foundry</li>
        <li>Sound understanding in writing Dockerfile to maintain the different environment for different projects</li>
        <li>Hands-on experience in Docker Swarm, Docker Compose, and Docker Tools</li>
        <li>Expertise in using Kubernetes to manage the Docker Clusters</li>
        <li>Strong experience of managing deployment to PCF including Blue/Green approach as well as for Disaster Regions</li>
        <li>Proficient in managing the source branch control strategy for GitLab, Bitbucket and SVN</li>
        <li>Sound knowledge of Configuration Management tools Ansible and experience in writing the Playbooks</li>
        <li>Expertise in performing POT on organization level to create resources on 10 different machines</li>
        <li>Extensively involved in infrastructure as code, execution plans, resource graph and change automation using Terraform</li>
        <li>Proficient in managing AWS/MS Azure infrastructure as code using Terraform and its Module</li>
        <li>Expertise in setting up Analytics, monitoring, and logging for WebApps, API, and Web Applications</li>
        <li>Expertise in DevOps automation task using python and shell script</li>
        <li>Sound understanding of the entire project life cycle including Agile and Kanban methodology with blue printing and gap analysis workshops and rapid development</li>
        <li>Successfully conducted training several times on DevOps Automation, CI/CD Pipelines, and various areas of DevOps</li>
      </ul>
  </section>
  
  <section id="experience">
    <h2>Experience</h2>
    <div class="tabs">
        <label for="tab1"><strong>Accenture, Canada</strong></label>
        <div class="tab-content">
          <p><strong>Jan’21 - till date</strong></p>
          <p><strong>Project: Azure Migration Factory</strong></p>
          <p><strong>Role: Infrastructure Consulting and DevOps Lead (Team Lead)</strong></p>
          <p>Description: Support clients to design, build, and run an agile, scalable IT infrastructure that is standardized and optimized to deliver operational efficiencies, improve employee and workplace performance and meet dynamic business demands. Apply infrastructure improvements across the workplace, network, data center and operations as well as provide resources to manage and run the infrastructure on a managed or capacity services basis.</p>
          <p><strong>Team Size: 5</strong></p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Setup infrastructure and entire CI/CD flow using GitHub actions</li>
            <li>Supported clients to design, build, and run Agile, Scalable IT infrastructure using tool Terraform that automated the infrastructure creation</li>
            <li>Deployed multiple Azure data resources such as Azure VMs, Azure Data Factory, Azure Data Bricks, Synapses, Azure SQL, and Azure Data Lake</li>
            <li>Managed deployment of Python and Scala code base to Azure Data Bricks clusters to prepare data for analysis or manipulation by data scientists</li>
            <li>Applied Azure DevOps services, provided integrated tools to support collaborative software development including Git Repository, Continuous Integration and Continuous Deployment (CI/ CD)</li>
            <li>Worked on revised legacy application by managing necessary updates and deploying from within containers using tools such as Docker and Azure Kubernetes</li>
            <li>Worked on Application Docker image curation deployment and security using Pipeline/ Helm and Hashicorp vault for secrets management</li>
            <li>Containerized applications using Docker file best practices and integrated with different microservices majority for JAVA, and node/react js applications.</li>
            <li>Integrated Azure datadog as Daemon set on platforms to collect metrics, applications logs, container logs, activity logs and logs from every other required service running on the container infrastructure.</li>
            <li>Worked on infrastructure with Docker containerization and maintained Docker Images and containers, builds different images and stores in nexus artifacts as well as Azure Container Registry (ACR).</li>
            <li>Implemented Datadog to monitor Azure services including AKS, ADB, and ADF</li>
          </ul>
        </div>
    
        <label for="tab2"><strong>Capgemini Technologies Pvt. Ltd., Canada</strong></label>
        <div class="tab-content">
          <p><strong>Aug’18 - Dec’20</strong></p>
          <p><strong>Project: Group Retirement Services</strong></p>
          <p><strong>Role: Senior DevOps Engineer</strong></p>
          <p>Description: The retirement and group benefits applications of Large Canada Insurance Company, this project is responsible for supporting multiple squads including Java, Node, React, and Database applications, which helps team to Build and Release/ DevOps infrastructure</p>
          <p><strong>Team Size: 3</strong></p>
          <p><strong>Responsibilities:</strong></p>
          <ul>
            <li>Helped team to achieve Continuous Deployment in each environment such as DEV, TEST, UAT, and PROD</li>
            <li>Enabled the DevOps various tools were being used such as Jenkins, Maven, GIT, SVN, PCF, Concourse, and Fortify</li>
            <li>Engaged in setting up the builds jobs and build pipelines for enabling the continuous integration and continuous delivery using the tools including Jenkins, Maven, Concourse, and PCF</li>
            <li>Worked on the different database model such as Canonical, classification, NiFi, and Mimix database pipeline deployment</li>
            <li>Helped testing and development team to merge and deploy their code to PROD environment and supported in prod environment as well</li>
            <li>Engaged on java, node and react applications workflow and deployment strategy; worked for around 70+ applications</li>
            <li>Deployed extensive amount of microservice in PCF with help of Jenkins/ Concourse using different services such as SSO, Autoscaler, and Config-Server</li>
            <li>Created different services, including Single Sign on Service (SSO), New Relic, Eureka Service, Redis Server Setup, and User-Defined Database</li>
            <li>Implemented DevOps automation for critical areas such as Autoscaling, Disaster Recovery, Blue Green Deployment, and back out plan for production environment</li>
            <li>Implemented secret management tool Hashicorp Vault in to manage the password and other secrets in all the environment including production</li>
            <li>Instigated config-server for all the Java base applications to manage our secrets as well</li>
            <li>Took training sessions for DevOps automation and CI/CD pipelines</li>
          </ul>
        </div>
      </div>
  </section>
  
  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li>Cloud Technologies: AWS, Azure, Google Cloud</li>
      <li>CI/CD: Jenkins, GitHub Actions, CircleCI</li>
      <li>Containerization: Docker, Kubernetes</li>
      <li>Infrastructure as Code: Terraform, Ansible</li>
      <li>Scripting: Python, Bash</li>
    </ul>
  </section>

  <section id="certifications">
    <h2>Certifications</h2>
    <ul>
        <li>Terraform Associate, Hashicorp</li>
        <li>Certified AZ-400 DevOps Engineer Expert, Microsoft</li>
        <li>Certified AZ-103 Azure Administrator Associate, Microsoft</li>
        <li>Certified Azure Data Fundamentals, Microsoft</li>
        <li>Certified Azure AI Fundamentals, Microsoft</li>
    </ul>
  </section>
  
  <section id="contact">
    <h2>Contact</h2>
    <p>Email: yadavvi.ca@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/vijay-yadav-a58765119/">Linkedin Profile</a></p>
  </section>
</body>
</html>
