<!DOCTYPE html>
<html>
<head>
  <title>Experience Summary</title>
  <link rel="stylesheet" type="text/css" href="../static/style_home.css">
</head>
<body>
  <h1>Experience Summary</h1>
  <ul>
    <li>Terraform and Azure Certified Professional with 9+ years of experience in the Information Technology industry with Insurance and banking domain</li>
    <li>Extensive experience in DevOps Engineering and proficient in using DevOps tools such as Jenkins, Maven, NPM, Node/ React, Database SVN, GitHub Actions PCF, Concourse, Ansible Docker, AWS, Azure Veracode/ AppScan, Sonar, Fortify, Black Duck, and Snyk Dashboard</li>
    <li>Expertise in Azure VMs, Azure Data Factory, Azure Data Bricks, Synapses, Azure SQL, and Azure Data Lake.</li>
    <li>Expertise in implementing DevOps solutions that includes setting up Continues Integration (CI), Continuous Delivery (CD), and Continuous Deployment pipelines</li>
    <li>Hands-on experience in creating CI/CD pipelines for different technology stacks including Java Node, React, Python, .Net, Docker, Mimix, and NiFi</li>
    <li>Hands-on experience in Amazon Web Services (AWS) such as EC2, S3, ELB, RDS, and VPC</li>
    <li>Proficient in managing Amazon Web Services such as EC2, S3 Bucket, RDS, EBS, ELB, Auto-Scaling, AMI, IAM through AWS Console and API Integration with Terraform</li>
    <li>Hands-on experience in Azure Cloud including MS Windows and Linux VMs, automatic creation of VMs using ARM, managed DevOps solutions through Azure Pipelines</li>
    <li>Expertise on Concourse pipeline that help to deploy the Microservices to Pivotal Cloud Foundry</li>
    <li>Sound understanding in writing Dockerfile to maintain the different environment for different projects</li>
    <li>Hands-on experience in Docker Swarm, Docker Compose, and Docker Tools</li>
    <li>Expertise in using Kubernetes to manage the Docker Clusters</li>
    <li>Strong experience of managing deployment to PCF including Blue/Green approach as well as for Disaster Regions</li>
    <li>Proficient in managing the source branch control strategy for GitLab, Bitbucket and SVN</li>
    <li>Sound knowledge of Configuration Management tools Ansible and experience in writing the Playbooks</li>
    <li>Expertise in performing POT on organization level to create resources on 10 different machines</li>
    <li>Extensively involved in infrastructure as code, execution plans, resource graph and change automation using Terraform</li>
    <li>Proficient in managing AWS/MS Azure infrastructure as code using Terraform and its Module</li>
    <li>Expertise in setting up Analytics, monitoring, and logging for WebApps, API, and Web Applications</li>
    <li>Expertise in DevOps automation task using python and shell script</li>
    <li>Sound understanding of the entire project life cycle including Agile and Kanban methodology with blue printing and gap analysis workshops and rapid development</li>
    <li>Successfully conducted training several times on DevOps Automation, CI/CD Pipelines, and various areas of DevOps</li>
  </ul>
</body>
</html>
